body {
    background: #ffffff;
    font-family: 'niramit', sans-serif;
}
p {
    font-size: 1.6rem;
}
p.sub-intro {
    font-size: 2rem
}
h1,h2,h6 {
    font-family: 'Lato', sans-serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
h1.intro {
    font-size: 5.5rem;
    color: #8de375;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .6rem;
}
h2 {
    font-size: 2.5rem;
    letter-spacing: normal;

}
h6  {
    font-size: 1.8rem;
}
h6.judge-name {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}
 span.title {
    font-weight: normal;
    font-size: 1.4rem;
    text-transform: capitalize;
}
span.office {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize
}
hr {
    background-color: #8de375;
    width: 30rem;
       padding: .2rem;
}
ion-icon {
    font-size: 2.5rem
  }
.btn-link,.card-body {
    font-size: 1.6rem;
}
.footer-paragraph {
    font-size: 1.6rem;
    color: #8792a1;
}

ion-icon .footer-paragraph {
    font-size: 2rem;
    color: #8792a1;

}