/* styles for all buttons */
.btn {
    z-index: 99;
}
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 1.5rem 6rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
}
.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-round {
    border-radius: 5rem;
}

.btn-white {
    background-color: #ffffff;
    color: #777777;
    border:0.15rem solid rgba(255, 255, 255, 0.75);
}
.btn-white:hover {
    background-color: rgb(39, 62, 80);
    color: #ffffff;
    border:0.15rem solid rgb(39, 62, 80);
}
.btn-outline {
    background-color: transparent;
    border:0.15rem solid rgba(255, 255, 255, 0.75);
    color: rgb(255, 255, 255);
    transition: all .3s;

}
.btn-outline:hover {
    background-color:#ffffff;
    color: #777777;

}
.btn-outline:hover::after {
    transform: scaleX(1.5) scaleY(1.5);
    opacity: 0;
}
.btn-outline::after {
    background-color: #ffffff;
}

.btn-demo {
    border:0.15rem solid rgb(39, 62, 80);
    color: #fff;

}
.btn-demo:hover {
    background-color:rgb(39, 62, 80);
    color: #fff;
    border:0.15rem solid rgb(39, 62, 80);

}
.btn-demo::after {
    background-image:rgba(39, 62, 80, 0.8); }



.btn-animated {
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn-participate {
    background-color: #384E77;
    color: #ffffff;
    font-size: 2rem !important;
    padding: 1rem 5rem !important;
}
a.btn-participate:hover {
    color: #fff !important;
}
.btn-participate::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}
.btn-participate:hover::after {
    transform: scaleX(1.5) scaleY(1.5);
    opacity: 0;
    color: #fff;
}
.btn-participate::after {
    background-color: #384E77;
}


.btn-participate {
    background-color: #4f86c6;
    color: #ffffff;
    font-size: 2rem !important;
}
a.btn-participate:hover {
    color: #fff !important;
}
.btn-participate::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}
.btn-participate:hover::after {
    transform: scaleX(1.5) scaleY(1.5);
    opacity: 0;
    color: #fff;
}
.btn-participate::after {
    background-color: #4f86c6;
}


@media (max-width: 420px) {
    .btn:link,
    .btn:visited,
    .btn-participate {
        padding: 1.4rem 4rem !important;
    }
}

