
.price-card {
    border: 1px solid #eeeeee;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); */
    height: 45rem;
}

.price-card__details {
    padding: 0rem; }
    .price-card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .price-card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .price-card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eeeeee; }