
.logo-box {
    float: left;
}
.site-logo {
    height: 5rem;
    margin-left: 3rem;
    margin-top: -1rem;
}
/* Logo */
.logo-default {
    display: block;
}

.logo-stick  {
    display:none;
}

.nav-bar__sticky .logo-default {
    display: none;
}

.nav-bar__sticky .logo-stick  {
    display:block;
    background:none !important;
    box-shadow: none !important;
}

.nav-bar {
    font-size: 1.7rem;
    padding: 2.5rem 4rem;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.nav-bar__sticky {
    background: #272626;
    box-shadow: 0 10px 60px 0 rgba(79, 134, 198, 0.2);
    padding: 1rem 3rem 1rem 5rem;
}
.nav-item .dropdown-menu a {
    text-transform: capitalize;
}


.nav-menu li {
    display: inline-block;
    margin-left: 4rem;
    vertical-align: middle;
}

nav ul a {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
}
nav ul a.active {
    color: rgb(255, 255, 255);
}
nav ul a:hover {
    color: #fff;
}


nav.nav-bar.nav-bar__sticky ul a {
    color: #8792a1;
    font-weight: 500;
}
nav.nav-bar.nav-bar__sticky ul a.active {
    color:#ffffff;
}
nav.nav-bar.nav-bar__sticky ul a:hover {
    color:#ffffff;
}
nav ul a.active {
    color: rgb(255, 255, 255);
}
nav ul a:hover, .nav-ctas:hover {
    color: #fff;
}
.nav-bar__sticky .nav-ctas{
    color: #777777;
}
.nav-bar__sticky .nav-ctas.btn-demo:hover{
    color: #ffffff;
}
