
.bg-intro{
    padding-top: 18rem;
    padding-bottom: 20rem;
    overflow: hidden;
    font-size: 10rem;
    background: url(../../images/bg-header.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
section {
    padding-top: 2rem;
    padding-bottom: 10rem;
}
.section-wrap {
    height: 100%;
}

.brief {
    margin-top: 10rem !important;
}


.bg-grey {

    background-color: rgba(230, 239, 243, 0.4)
}
.skew {
    transform: skewY(-5deg);
    padding-top: 10rem;
    margin-top: -3rem;
}
.unskew-content {
    transform: skewY(5deg);
}
.page-btn {
    position: absolute;
    bottom: -2.2rem;
    left: 40%;
}

.section-benefit {
    border: 1px solid #E2E2E2;
    box-shadow: 0 10px 45px 0 rgba(164,164,164,0.3);
    padding: 6rem;
}
@media (max-width: 768px) {
    .section-benefit {
        display: none !important;
    }
}
.section-benefit:not(:first-child) {
    display: none;

}

div.benefit-contents {
    cursor: pointer;
    opacity: 0.7;
    margin-bottom: 2rem;
    transition: all .5s

}
.section-benefit-0 + .benefit-contents-0:hover {
    display: block;

}
div.benefit-contents:hover {
    opacity: 1;
    transform: translateX(1rem)
}
.section-benefit div.benefit-contents:hover {
    transform: translateX(-4rem);
}

.benefit__icon {
    color: #4f86c6;
    font-size: 3.5rem;
    margin-right:3rem;
}


.section-benefit-0::after {
    content: "";
     background: url(../../images/arrow.png) no-repeat top left;
     width: 3.8rem;
     height: 6.6rem;
     z-index: 999;
     top: 10%;
    right: -3.8rem;
    display: inline-block;
    position: absolute;
    background-size: 38px 3.2rem

}
.section-benefit-1::after {
    content: "";
    background: url(../../images/arrow.png) no-repeat top left;
    width: 3.8rem;
    height: 6.6rem;
    z-index: 999;
    top: 30%;
    right: -3.8rem;
    display: inline-block;
    position: absolute;
    background-size: 38px 3.2rem

}

.section-benefit-2::after {
    content: "";
    background: url(../../images/arrow.png) no-repeat top left;
    width: 3.8rem;
    height: 6.6rem;
    z-index: 999;
    top: 70%;
    right: -3.8rem;
    display: inline-block;
    position: absolute;
    background-size: 38px 3.2rem

}

.sponsor {
    height: 6rem;
    padding: 1rem 3rem;
    margin-bottom: 10rem;
}



.facilitator {
    /* width: 100%; */
    font-size: 1.7rem; }

    .figure-img {
      transform: translateX(0rem) scale(1);
      backface-visibility: hidden;
      transition: all .5s; }

    .figure-bio {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: #ffffff;
      font-size: 1rem;
      text-align: center;
      opacity: 0;
      transition: all .5s;
      backface-visibility: hidden; }
    .figure:hover .figure-bio {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .figure:hover .figure-img {
      transform: translateX(0rem) scale(1);
      background-color: rgba(58, 57, 57, 0.7);
      filter: blur(.2rem) brightness(40%); }

      @media (max-width: 1025px) {
        h1.intro {
            font-size: 4rem;
        }
      .figure-bio p {
          font-size: 1.2rem;
      }
    }


      .social {
          color: #ffffff;
          padding: .7rem;
          border-radius: 3rem;
          transition: ease-in-out 0.5s;
      }
      .social:hover {
          color: #ffffff;
          background: #4f86c6;
      }



 footer {
     height: 4rem;
     padding-top: 1rem;
     padding-bottom: 5rem;
     background-color: #13181b;
     width: 100%;
     position: absolute;
 }

 header:after,
#timeline .timeline-item:after,
header:before,
#timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

#timeline {
  width: 100%;
  margin: 3rem auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #272626;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #272626;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon i {
  position: relative;
  top: 1.4rem;
  text-align: center;
  color: white;
  left: 1.75rem;
  font-size: 1.6rem;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 .2rem .4rem 0 #eee;
  transition: 0.3s;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content:hover {
  box-shadow: 0 .4rem 8px 0 #eee;
}

#timeline .timeline-item .timeline-content h2 {
  padding: 1.5rem;
  background: #272626;
  color: #fff;
  margin: -2rem -2rem 0 -2rem;
  font-weight: 700;
  -webkit-border-radius: .3rem .3rem 0 0;
  -moz-border-radius: .3rem .3rem 0 0;
  -ms-border-radius: .3rem .3rem 0 0;
  border-radius: .3rem .3rem 0 0;
  font-size: 1.7rem;
  margin-bottom: .5rem;
}
#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 2rem;
  width: 0;
  height: 0;
  border-top: .7rem solid transparent;
  border-bottom: .7rem solid transparent;
  border-left: .7rem solid #272626;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: .7rem solid #272626;
}

#timeline .btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border-bottom: .2rem solid #4f86c6;
  color: #4f86c6;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 3rem;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -0.6rem;
    border-left: 0;
    border-right: .7rem solid #272626;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}